---
title: Home
layout: page
---

each doc in getCollection('posts').toJSON()
	div(class='media', style='width: 100%; float: left; padding: 10px;')
		div(class='media-body')
			h3(class='media-heading'): a(href= doc.url)= doc.title
		a(class='', href= doc.url)
			img(class='media-object', src= (doc.kdpv))
		div(class='media')
			text= doc.intro
